/* ეს არის CSS ფაილი */
body {
  background-color: #f0f8ff; /* ღია ლურჯი ფონი */
  font-family: Arial, sans-serif;
}

h1 {
  color: navy;
  text-align: center;
}

p {
  color: darkslategray;
  font-size: 18px;
}
