/* ეს არის CSS ფაილი */
body {
  background-color: #f0f8ff; /* ღია ლურჯი ფონი */
  font-family: Arial, sans-serif;
  font-size: 28px
}

h1 {
  color: navy;
  text-align: center;
}

p {
  color: darkslategray;
  font-size: 18px;
}
body {
  background-color: #f0f8ff;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: navy;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.phenomenon {
  background-color: #e6f0fa;
  border-left: 6px solid navy;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
}
